In [ ]:
def eye_exam_covered(age, qualifying_condition, time_since_last_exam):
    if age <= 19:
        if time_since_last_exam >= 12:
            return "You are eligible for 1 major eye exam and any minor assessments"
        else:
            return "It hasn't been 12 months since your last major eye exam."
    elif 20 <= age <= 64:
        if qualifying_condition:
            if time_since_last_exam >= 12:
                return "You are eligible for 1 major eye exam and 2 additional follow-up minor assessments"
            else:
                return "It hasn't been 12 months since your last major eye exam."
        else:
            return "You do not have an eligible medical condition affecting your eyes."
    elif age >= 65:
        if time_since_last_exam >= 18:
            return "You are elgible for 1 major eye exam and 2 additional follow-up minor assessments."
        else:
            return "It hasn't been 18 months since your last major eye exam."
    else:
        return "Invalid age input."

In [10]:
eye_exam_output = eye_exam_covered(15, False, 13)

In [11]:
eye_exam_output

'You are eligible for 1 major eye exam and any minor assessments'

In [12]:
eye_exam_output = eye_exam_covered(27, False, 24)

In [13]:
eye_exam_output

'You do not have an eligible medical condition affecting your eyes.'

In [15]:
vowels = ['a', 'e', 'i', 'o', 'u']
print(f'Here are some vowels: {vowels}')

Here are some vowels: ['a', 'e', 'i', 'o', 'u']

In [16]:
# create an empty list the conventional way
empty_list = []

# this also works
empty_list2 = list()

In [17]:
scores = [90, 80, 82, 91, 80]
grades = ['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
summary_function = [len, sum, max, min]

In [18]:
mystery_solvers =[
    ['Sherlock', 'Watson'],
    ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
    'Nancy'
]

In [20]:
grades

['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [44]:
# lists are ordered -> means that each item in a list can be referenced by its index,
# or position, in the list

In [21]:
grades[0]

'K'

In [22]:
grades[6]

6

In [23]:
grades[6:9]

[6, 7, 8]

In [24]:
grades[-4]

9

In [25]:
grades[13]

IndexError: list index out of range

In [26]:
mystery_solvers

[['Sherlock', 'Watson'],
 ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
 'Nancy']

In [27]:
mystery_solvers[0]

['Sherlock', 'Watson']

In [28]:
mystery_solvers[1]

['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne']

In [30]:
mystery_solvers[2]

'Nancy'

In [32]:
mystery_solvers[0][0]

'Sherlock'

In [33]:
mystery_solvers[:]

[['Sherlock', 'Watson'],
 ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
 'Nancy']

In [34]:
grades

['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [39]:
grades[::]

['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [40]:
vowels

['a', 'e', 'i', 'o', 'u']

In [42]:
'k' in vowels

False

In [45]:
# lists are mutable -> means they can be modified in place

perfect_squares = [1, 4, 9, 16, 27, 37, 49]
perfect_squares[5] = 36
perfect_squares

[1, 4, 9, 16, 27, 36, 49]

In [46]:
a = 1
b = a

In [47]:
b

1

In [50]:
a = 2

In [51]:
a

2

In [52]:
b

1

In [53]:
a = 1

In [54]:
a

1

In [55]:
b = a

In [56]:
b

1

In [57]:
a = 2

In [58]:
a

2

In [ ]:
b

1

In [60]:
# immutable 

moniz = 'cheese sandwich' 
kaylie = moniz

In [61]:
moniz

'cheese sandwich'

In [62]:
kaylie

'cheese sandwich'

In [63]:
moniz = 'ham sandwich'

In [64]:
moniz

'ham sandwich'

In [65]:
kaylie

'cheese sandwich'

In [66]:
# mutable

moniz = ['bread', 'cheese', 'bread']
kaylie = moniz

In [67]:
moniz

['bread', 'cheese', 'bread']

In [68]:
kaylie

['bread', 'cheese', 'bread']

In [69]:
moniz[1] = 'ham'

In [70]:
moniz

['bread', 'ham', 'bread']

In [71]:
kaylie

['bread', 'ham', 'bread']

In [72]:
a = 1
b = a

In [73]:
a

1

In [74]:
b

1

In [75]:
a = 2

In [76]:
a

2

In [77]:
b

1

In [78]:
a = [1, 2]

In [79]:
b = a

In [80]:
a

[1, 2]

In [81]:
b

[1, 2]

In [82]:
a[0] = 6

In [83]:
a

[6, 2]

In [84]:
b

[6, 2]

In [85]:
# making an independent copy of a list

combo = ['burger', 'fries', 'drink']
kid_meal = list(combo)

In [86]:
combo

['burger', 'fries', 'drink']

In [87]:
kid_meal

['burger', 'fries', 'drink']

In [88]:
combo[0] = 'chicken sandwich'

In [89]:
kid_meal

['burger', 'fries', 'drink']

In [90]:
perfect_squares

[1, 4, 9, 16, 27, 36, 49]

In [91]:
len(perfect_squares)

7

In [92]:
max(perfect_squares)

49

In [93]:
sum(perfect_squares)

142

In [94]:
1 + 4 + 9 + 16 + 27 + 36 + 49

142

In [95]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
characters = letters + numbers
characters

['a', 'b', 'c', 1, 2, 3]

In [96]:
letters * 2

['a', 'b', 'c', 'a', 'b', 'c']

In [97]:
numbers * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [99]:
perfect_squares

[1, 4, 9, 16, 27, 36, 49]

In [100]:
letters

['a', 'b', 'c']

In [101]:
numbers

[1, 2, 3]

In [102]:
# append() is used to add a single element to the end of a list
# it takes an argument and adds that element to the end of the list, 
# if the element is another list, it will be added as a single element


list1 = [1, 2, 3]

In [103]:
list1.append(4)

In [104]:
list1

[1, 2, 3, 4]

In [105]:
list2 = [5, 6, 7]
list1.append(list2)

In [106]:
list1

[1, 2, 3, 4, [5, 6, 7]]

In [110]:
# extend() is used to add elements from an iterable to the end of a list
# unpacks the elements of the iterable and add them one by one to the end of the original
# list

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

In [111]:
rainbow = ['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet']

In [112]:
rainbow.append('purple')
rainbow

['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet', 'purple']

In [113]:
rainbow.append(['purple'])
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple']]

In [114]:
rainbow.extend(['magenta', 'pink'])
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink']

In [115]:
rainbow.extend('pale pink')

In [116]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k']

In [117]:
rainbow.extend(2.3)

TypeError: 'float' object is not iterable

In [118]:
new_rainbow = rainbow.append('dark purple')

In [120]:
print(new_rainbow)

None

In [121]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'dark purple']

In [122]:
rainbow.insert(6, 'indigo')
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'dark purple']

In [123]:
rainbow.remove('p')

In [124]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'dark purple']

In [125]:
del rainbow[-13:]
rainbow

['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'indigo', 'violet']

In [126]:
rainbow.clear()

In [127]:
rainbow

[]

In [129]:
rainbow.insert(1, 9)
rainbow

[9, 9]

In [130]:
grades

['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [131]:
grades[4]

4

In [ ]:
# by default, numerical data types (ints and floats) are sorted in ascending order
# strings are sorted alphabetically based on the Unicode code point value of each character
# uppercase letters come before lower case letters
# 'A' (65) 'a' (97)

In [ ]:
# typically functions will take a value and return a new value
# take a list as an argument and return a new list with sorted values

veggies = ['potato', 'celery', 'cabbage', 'bell pepper', 'onion']
sorted(veggies)

['bell pepper', 'cabbage', 'celery', 'onion', 'potato']

In [135]:
veggies

['potato', 'celery', 'cabbage', 'bell pepper', 'onion']

In [133]:
# typically methods will modify the value in place
# take a list and reorder its values in place and return None

fruits = ['pineapple', 'apple', 'kiwi', 'banana']
fruits.sort()

In [134]:
fruits

['apple', 'banana', 'kiwi', 'pineapple']

In [136]:
def last_letter(text):
    output = text[-1]
    return output

sorted(veggies, key=last_letter)

['cabbage', 'onion', 'potato', 'bell pepper', 'celery']

In [137]:
students_per_class = [['Grade 9', 20], ['Grade 10', 17], ['Grade 11', 13], ['Grade 12', 22]]

In [138]:
def second_element(item):
    output = item[1]
    return output

In [139]:
students_per_class.sort(key=second_element)
students_per_class

[['Grade 11', 13], ['Grade 10', 17], ['Grade 9', 20], ['Grade 12', 22]]

In [ ]:
mutable_synonyms = ('changeable', 'fluctuating', 'inconstant', 'variable')
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [ ]:
# conventional way to create an empty tuple
empty = ()

# can also make an empty tuple
also_tuple = tuple()

In [141]:
empty.append('hi')

NameError: name 'empty' is not defined

In [143]:
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [142]:
len(mutable_synonyms)

4

In [144]:
sorted(mutable_synonyms)

['changeable', 'fluctuating', 'inconstant', 'variable']

In [145]:
mutable_synonyms + ('modifiable', 'shifting')

('changeable',
 'fluctuating',
 'inconstant',
 'variable',
 'modifiable',
 'shifting')

In [146]:
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [147]:
# lists are ordered and mutable []
# tuples are ordered and immutable ()
# sets are unordered and distinct, and are mutable {}

# unordered -> the elements do not maintain any specific order
# distinct -> all elements are unique

things = {'coat', 'lock', 'box', 'book', 'apple', 'hair', 'xylophone', 'lock', 'book'}
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [149]:
visitor_post_codes = ['M5R', 'M5V', 'M1M', 'M1M', 'M1T']
set(visitor_post_codes)

{'M1M', 'M1T', 'M5R', 'M5V'}

In [150]:
# create an empty set
empty_set = set()
empty_set

set()

In [151]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [152]:
'lock' in things

True

In [153]:
things.add('lock')

In [154]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [155]:
things.add('mirror')
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [156]:
things.remove('apple')

In [157]:
things

{'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [158]:
things[1]

TypeError: 'set' object is not subscriptable

In [159]:
rainbow = {'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'}
olympic_flag = {'red', 'green', 'yellow', 'blue', 'black'}

In [160]:
# difference -> find the values in the first set that are not in the second

rainbow.difference(olympic_flag)

{'indigo', 'orange', 'violet'}

In [161]:
olympic_flag.difference(rainbow)

{'black'}

In [162]:
# symmetric_difference -> find the values that are in only one of two sets
rainbow.symmetric_difference(olympic_flag)

{'black', 'indigo', 'orange', 'violet'}

In [163]:
# intersection -> find the values that the two sets have in common
rainbow.intersection(olympic_flag)

{'blue', 'green', 'red', 'yellow'}

In [164]:
# union -> combines two sets to get the unique values in both
rainbow.union(olympic_flag)

{'black', 'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}